{% extends 'admin/change_list.html' %}
{% load humanize %}
{% load utiltags %}
{% block content_title %}
<h1> Fee Summary </h1>

{% endblock %}
{% block result_list %}
<div class="results">
    <table>

        <thead>
        <tr>
            <th>
                <div class="text">
                    <a href="#">Month</a>
                </div>
            </th>
            <th>
                <div class="text">
                    <a href="#">Number of Fee Submitted</a>
                </div>
            </th>
            <th>
                <div class="text">
                    <a href="#">
                        <strong>Total Fee Submitted</strong>
                    </a>
                </div>
            </th>
        </tr>
        </thead>

        <tbody>
        {% for row in summary %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <td> {{row.month | month_name}}</td>
            <td> {{row.total | intcomma}}</td>
            <td><strong>{{row.total_fee | default:0 | intcomma }} Rs.</strong></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div> <!-- Results -->
{% endblock %}
{% block pagination %}{% endblock %}