{% extends 'admin/change_list.html' %}
{% block content_title %}
  <h1>Finance Summary </h1>
{% endblock %}

{% load humanize %}
{% block result_list %}

<canvas id="myChart" width="400" height="400"></canvas>
<div class=”results”>
  <table>
    <thead>
      <tr>
        <th>
          <div class=”text”>
            Month
          </div>
        </th>
        <th>
          <div class=”text”>
            Salaries
          </div>
        </th>
        <th>
          <div class=”text”>
            Fees
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for key, value in data.items %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ key }} </td>
        <td> {{ value.salaries }} </td>
        <td> {{ value.fees }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type="text/javascript">
var ctx = document.getElementById("myChart").getContext("2d");
var data = JSON.parse("{{ graph_data | escapejs }}")

var myBarChart = new Chart(ctx, {
  type: 'bar',
  data: data,
  options: {
    responsive: false,
    barValueSpacing: 20,
    scales: {
      yAxes: [{
        ticks: {
          min: 0,
        }
      }]
    }
  }
});

</script>
{% endblock %}
{% block pagination %}{% endblock %}